.button
    --button-bg: linear-gradient(in oklch to right, var(--primary-color) 0%, hsl(from var(--secondary-color) h s calc(l - 5)) 99%)
    --button-color: var(--white-color)
    background: var(--button-bg)
    color: var(--button-color)
    display: inline-flex
    gap: .75em
    font-family: var(--body-font-family)
    font-size: var(--body-large-font-size)
    line-height: 1.5
    justify-content: center
    align-items: center
    padding: 1em 2em
    border-radius: 3em
    border: unset
    outline: unset
    font-weight: 700
    cursor: pointer
    text-transform: uppercase
    position: relative
    transition: all .3s ease-in-out

    &:before
        content: ''
        border-radius: 3em
        display: block
        width: 100%
        height: 100%
        position: absolute
        inset: 0
        background: var(--button-bg)
        z-index: 0
        translate: 0 25%
        scale: 0.85
        filter: blur(1rem)
        transition: all .3s ease-in-out

    &:hover,
    &:focus
        color: var(--button-color)
        scale: 1.05

        &:before
            translate: 0 30%
    
    &__text
        font-weight: 700
        position: relative
        letter-spacing: 1px
        // text-shadow: 1px 1px 4px var(--primary-color)
        z-index: 1
    
    & iconify-icon
        font-size: 1.5em
        flex: 0 0 1.5rem
        width: 1.5rem
        aspect-ratio: 1 / 1
        // filter: drop-shadow(1px 1px 2px var(--primary-color))
        position: relative
        z-index: 1

    &--color-text
        --button-bg: var(--text-color, black)
        --button-color: var(--white-color, white)
        
    