.prayer
    &__container
        position: relative
    
    &__texture
        position: absolute
        top: 50%
        left: 50%
        translate: -50% -50%
        width: min(100%, 450px)
        height: auto
        z-index: 0
        opacity: 0.1

        &-image
            width: 100%
            height: auto
    
    &__text
        position: relative
        z-index: 1
        