.confirmation
    &__container
        position: relative
        display: grid
        place-items: center
        gap: var(--space-lg)
    
    &__content
        display: grid
        place-items: center
        gap: var(--space-sm)
    
    &__title
        font-size: var(--h5-font-size)
        font-weight: 400
        line-height: 1
        margin: 0

    &__subtitle
        font-size: var(--h2-font-size)
        font-weight: 700
        line-height: 1.1
        margin: 0