.parents
    &__container
        display: grid
        gap: var(--space-lg)

    &__title
        font-size: var(--h5-font-size)
        font-weight: 400
        margin: 0
    
    &__list
        display: grid
        place-items: center
        gap: calc( var(--space-md) * 1.5 )
        list-style: none

    &__item
        display: grid
        gap: var(--space-sm)

        &-title
            font-size: var(--h5-font-size)
            font-weight: 400
            margin: 0
            
        &-name
            font-size: var(--h3-font-size)
            font-weight: 700
            margin: 0
            line-height: 1.25
        