.loading
    min-height: 100dvh
    display: flex
    justify-content: center
    align-items: center

    &__bg
        object-fit: cover
        position: fixed
        inset: 0
        z-index: 0
        width: 100%
        height: 100%

    &__container
        mix-blend-mode: multiply
        -webkit-mix-blend-mode: multiply
        display: grid
        place-items: center
        place-content: center
        gap: var(--space-md)
        z-index: 1
        position: relative

        > p
            color: var(--primary-color)
            font-size: var(--h5-font-size)
            font-weight: 700
            margin: 0
            

    &__svg
        width: 70px
        height: auto
        stroke-linejoin: round
        stroke-linecap: round
        stroke-dashoffset: 400
        stroke-dasharray: 400
        /*animation: stroke 0.5s ease-in-out;*/
        animation: stroke 1s ease-in-out infinite alternate
        stroke: #fff

@keyframes stroke
    to
        stroke-dashoffset: 0
